name: Build and Push Docker Image

on:
  push:
    branches:
      - pa200-matej

permissions:
  id-token: write
  contents: read

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      backend_changed: ${{ steps.filter.outputs.backend }}
      nginx_changed: ${{ steps.filter.outputs.nginx }}
      frontend_changed: ${{ steps.filter.outputs.frontend }}

    steps:
      - uses: actions/checkout@v4

      - id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            backend:
              - 'cmd/**'
              - 'internal/**'
              - 'migrations/**'
              - 'Dockerfile'
            nginx:
              - 'nginx/**'
            frontend:
              - 'frontend/**'  

  build-and-deploy:
    needs: setup
    runs-on: ubuntu-latest

    steps:
    - name: Check out the repository
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Azure CLI Login
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Set image tag
      id: vars
      run: echo "TAG=${GITHUB_SHA}" >> $GITHUB_ENV

    - name: Build and push backend image
      if: ${{ needs.setup.outputs.backend_changed == 'true' }}
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/train-me-maybe:${{ env.TAG }}

    - name: Deploy backend to Azure Container App
      if: ${{ needs.setup.outputs.backend_changed == 'true' }}
      uses: azure/container-apps-deploy-action@v1
      with:
        containerAppName: pa220container
        resourceGroup: ${{ secrets.AZURE_RESOURCE_GROUP }}
        imageToDeploy: ${{ secrets.DOCKER_USERNAME }}/train-me-maybe:${{ env.TAG }}
        registryUrl: docker.io
        registryUsername: ${{ secrets.DOCKER_USERNAME }}
        registryPassword: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Nginx ingress image
      if: ${{ needs.setup.outputs.nginx_changed == 'true' }}
      uses: docker/build-push-action@v6
      with:
        context: ./nginx
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/train-me-maybe-ingress:${{ env.TAG }}

    - name: Redeploy nginx container app
      if: ${{ needs.setup.outputs.nginx_changed == 'true' }}
      uses: azure/container-apps-deploy-action@v1
      with:
        containerAppName: pa220nginx
        resourceGroup: ${{ secrets.AZURE_RESOURCE_GROUP }}
        imageToDeploy: ${{ secrets.DOCKER_USERNAME }}/train-me-maybe-ingress:${{ env.TAG }}
        registryUrl: docker.io
        registryUsername: ${{ secrets.DOCKER_USERNAME }}
        registryPassword: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build frontend and upload to Azure Blob
      if: ${{ needs.setup.outputs.frontend_changed == 'true' }}
      run: |
        cd frontend
        npm ci
        npm run build
        
        az storage blob delete-batch \
          --account-name ${{ secrets.AZURE_STORAGE_ACCOUNT }} \
          --account-key ${{ secrets.AZURE_STORAGE_KEY }} \
          --source vlacky \
          --auth-mode key     
        
        az storage blob upload-batch \
          --destination 'vlacky' \
          --source dist \
          --account-name ${{ secrets.AZURE_STORAGE_ACCOUNT }} \
          --auth-mode key \
          --account-key ${{ secrets.AZURE_STORAGE_KEY }}